body{
	background-color: #B099E8;
}

.box{
	margin-left: 25vw;
	margin-top:4vw;
	width:46vw;
	height:46vw;
	background-color: #FFE393;
	border:1vw solid #656873;
	overflow:scroll;
}

h1{
	text-align: center;
	font-family: 'Playfair Display', serif;
	color: #656873;
}

.img1 img{
	margin-left:8vw;
	width:30vw;
	height:auto;
}

.img2 img{
	margin-left:8vw;
	width:30vw;
	height:auto;
}

.img3 img{
	margin-left:8vw;
	width:30vw;
	height:auto;
}

p{
	margin: 1vw;
	color: #656873;
	font-weight: bold;
	z-index: -2;
}

.text{
	font-family: 'Playfair Display', serif;
	font-size: 1vw;
	width:28.7vw;
	background-color: white;
	border: 0.7vw solid #5D8BFF;
	margin-left: 8vw;
	margin-top:2vw;
	margin-bottom: 10vw;
	z-index: -1;
}

#text1{
	height:17vw;
}

#text2{
	height:11vw;
}

#text3{
	height:11vw;
	margin-bottom: 10vw;
}

.column1{
	position: absolute;
	margin-top:2vw;
	margin-left:20vw; 
}

@keyframes scale{
  0% {transform: scale(1);}
  50% {transform: scale(1.7);}
  100% {transform: scale(1);}
} 

.tiny1{
	width:0.8vw;
	height:0.8vw;
	background-color: white;
	border:0.3vw solid #656873;
}

.tiny1:hover{
	animation: scale 1s ease alternate infinite;
}

.circle{
	width:1.5vw;
	height:1.5vw;
	border-radius: 50%;
	background-color: black;
	margin-top:2vw;
}

.circle:hover{
	animation: scale 1s ease alternate infinite;
}

.eye img{
	width:1.5vw;
	height:1.5vw;
	border-radius: 50%;
	margin-bottom:5vw;
	margin-top:2vw;
}

.eye img:hover{
	animation: scale 1s ease alternate infinite;
}
